<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
		document.createElement("header");
		document.createElement("hgroup");
		document.createElement("nav");
		document.createElement("section");
		document.createElement("article");
		document.createElement("aside");
		document.createElement("address");
		document.createElement("footer");
	</script>
  <title>MyLocalFoodStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
	<header>
		<h1>Suppliers</h1>
		<h2>- to my local food store</h2>

		<nav>
			<ol>
				<li><%= link_to "Show Suppliers", suppliers_path %></li>
				<li><%= link_to "Add New Supplier", new_supplier_path %></li>
			</ol>
		</nav>
		
		<form action="/home/search" method="get">
			<fieldset class="right">
			  <%= text_field_tag(:q, nil, :placeholder => "Enter keyword") %>
			</fieldset>
		</form>
		<div class="clear">&nbsp;</div>
	</header>

	<div id="wrapper">
		<article>
			<header>
				<%= yield :header %>
			</header>

			<div id="content">
				<% if flash[:message] %><div class="UploadOk"><%= flash[:message] %></div><% end %>
				<% if flash[:error] %><p class="errorText"><%= flash[:error] %></p><% end %>
				<%= yield %>
			</div>

			<div class="clear"></div>
		</article>

		<div class="clear"></div>
	</div>

	<footer>
		<p>My Local Food Store - By <a href="http://tryggveblom.se">Tryggve Blom</a>.</p>
		<!-- p><a href="http://validator.w3.org/check?uri=referer">Testresult from validator.w3.org &gt;&gt;</a></p -->
	</footer>
</div>

</body>
</html>
